#Contact {
  background-color: #EEF0F2;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  margin: 0 auto;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.input-text, textarea {
  font-family: "Poppins", sans-serif;
  padding: 20px 15px;
  width: 100%;
  border-radius: .8rem;
  border: 0;
  outline: 0;
  font-size: 1rem;
}

textarea {
  resize: none;
  height: 200px;
}

.div-btn-enviar {
  margin-top: 20px;
}

.btn-enviar {
  width: 120px;
  padding: 1rem;
  background-color: #800080;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-weight: 600;
  transition: .3s;
  border-radius: .5rem;
}

.btn-enviar:hover {
  box-shadow: 0px 0px 8px #800080;
  transform: scale(1.05);
}

.h2-text {
  padding-bottom: 5rem;
  font-size: 2.75rem;
  font-weight: 800;
  text-align: center;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}

.social {
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 1rem;
  z-index: 1;
}

.social-icon {
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: .3s;
  color: black;
}

i {
  cursor: pointer;
}

.social-icon:hover {
  background-color: #800080;
  color: white;
}

.copyright {
  width: 100%;
  padding: 2rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  bottom: -100px;
  right: 60px;
}

.copy-text {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: #6b7688;
  font-size: .9rem;
  line-height: 1.5;
}

.space {
  margin-right: 7px;
}

@media (max-width: 1024px) {
  .copyright {
    bottom: -60px;
    right: 40px;
  }
}
@media (max-width: 768px) {
  .copy-text {
    font-size: .8rem;
  }
  .social {
    display: none;
  }
}
@media (max-width: 576px) {
  form {
    width: 80vw;
  }
  .h2-text {
    font-size: 2.50rem;
  }
}
