*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-principal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background: hsla(0,0%,100%,.25);
  border: 1px solid hsla(0,0%,100%,.18);
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.img-logo {
  width: 140px;
  margin-left: 8px;
}

.nav-links {
  display: flex;
  gap: 15px;
}

.nav-link {
  text-decoration: none;
  color: #6b7688;
  position: relative;
  transition: color 0.3s ease;
}

.nav-link::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #800080;
  transition: width 0.3s ease;
}

.nav-link:hover {
  color: #800080;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.nav-link:hover::before {
  width: 100%;
}

.social-links {
  display: flex;
  gap: 10px;
  margin-right: 8px;
}

.social-link {
  font-size: 26px;
  color: #2F363B;
}

.container-info {
  position: relative;
  padding: 10px;
  background: white;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
  box-shadow: 5px 5px rgba(0,0,0,.15);
}

.menu-social-icons {
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #800080;
}

@media (max-width: 768px) {
  .nav-links{
    display: none;
  }
  .social-links{
    display: none;
  }
  .menu-social-icons {
    display: none;
  }

  .one,
  .two,
  .three {
    background-color: #800080;
    height: 5px;
    width: 100%;
    margin: 6px auto;
    transition-duration: 0.3s;
  }

  .menu-toggle {
    width: 40px;
    height: 30px;
    margin-right: 20px;
  }

  .menu-section.on {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #7159c1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
  }

  .menu-section.on .nav-links{
    display: block;
  }

  .menu-section.on .menu-social-icons{
    display: flex;
    position: absolute;
    bottom: 20px;
    gap: 10px;
  }

  .menu-section.on .menu-toggle {
    position: absolute;
    right: 25px;
    top: 15px;
  }

  .menu-section.on .menu-toggle .one {
    transform: rotate(45deg) translate(7px, 7px);
  }

  .menu-section.on .menu-toggle .two {
    opacity: 0;
  }

  .menu-section.on .menu-toggle .three {
    transform: rotate(-45deg) translate(8px, -9px);
  }

  .menu-section.on .nav-links .nav-link {
    text-align: center;
    display: block;
    color: white;
    transition-duration: 0.5s;
    font-size: 1.75rem;
    line-height: 4rem;
  }
}