*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-principal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background: hsla(0,0%,100%,.25);
  border: 1px solid hsla(0,0%,100%,.18);
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.img-logo {
  width: 140px;
  margin-left: 8px;
}

.nav-links {
  display: flex;
  gap: 10px;
}

.nav-link {
  text-decoration: none;
  color: #6b7688;
  position: relative;
  transition: color 0.3s ease;
}

.nav-link::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #800080;
  transition: width 0.3s ease;
}

.nav-link:hover {
  color: #800080;
}

.nav-link:hover::before {
  width: 100%;
}

.social-links {
  display: flex;
  gap: 7px;
  margin-right: 8px;
}

.social-link {
  font-size: 26px;
  color: #2F363B;
}