.container-projects {
  background-color: #EEF0F2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.hidden {
  opacity: 0;
  filter: blur(15px);
  transform: translateX(-100%);
  transition: all 1.5s;
}

.hidden-text {
  opacity: 0;
  filter: blur(15px);
  transform: translateY(100%);
  transition: all 1.5s;
}

.card-project-hidden {
  opacity: 0;
  filter: blur(15px);
  transform: translateY(100%);
  transition: all 1.5s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 1.5s;
}

.cards-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 320px);
  grid-gap: 15px;
  margin-bottom: 50px;
}

.head-text {
  padding-top: 53px;
  padding-bottom: 45px;
  font-size: 2.75rem;
  font-weight: 800;
  text-align: center;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}

.span-my-projects {
  color: #800080;
}

.card {
  margin: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 290px;
  height: 410px;
  padding: 1rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  transition: all 0.5s ease;
}

.project-name-text {
  font-size: 1rem;
  font-family: "Poppins",sans-serif;
  font-weight: 800;
  margin-bottom: 1rem;
}

.description {
  color: #6b7688;
  font-size: .8rem;
  line-height: 1.5;
  font-family: "Poppins",sans-serif;
}

.card:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.292);
}

.img-project {
  transition: all .3s ease;
}

.card:hover .img-project {
  opacity: 0.5;
}

.card:hover .icons {
  opacity: 1;
}

.icons {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  transition: all .3s ease;
}

.image-card {
  overflow: hidden;
  border-radius: 0.5rem;
  height: 240px;
  position: relative;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.icons-div {
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.515);
  border-radius: 50%;
}

@media (max-width: 1280px) {
  .cards-container {
    grid-template-columns: repeat(4, 300px);
    grid-gap: 5px;
  }
}

@media (max-width: 1024px) {
  .cards-container {
    grid-template-columns: repeat(2, 320px);
  }
  .card {
    width: 270px;
    height: 400px;
  }
  .head-text {
    font-size: 2.50rem;
  }
  .container-projects {
    height: auto;
  }
}

@media (max-width: 768px){
  .cards-container {
    grid-template-columns: repeat(1, 320px);
  }
  .card {
    height: 395px;
  }
  .head-text {
    font-size: 2rem;
  }
}

@media (max-width: 576px){
  .card {
    width: 260px;
    height: 380px;
  }
  .head-text {
    font-size: 1.75rem;
  }
}